Source: python-pam
Section: python
Priority: optional
Build-Depends: debhelper (>= 9), python3-all-dev, libpam0g-dev, dh-python
Maintainer: Dima Barsky <dima@debian.org>
Standards-Version: 4.5.0

Package: python3-pam
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Suggests: python3-pam-dbg
Description: Python interface to the PAM library
 This module makes the PAM (Pluggable Authentication Modules) functions
 available in Python 3. With this module you can write Python 3 applications
 that implement authentication services using PAM.
